* {
  scrollbar-color: var(--clr-scrollbar) var(--clr-bg);
}

/* Shiki */
.dark .shiki,
.dark .shiki span {
  color: var(--s-dark, inherit);
  --twoslash-popup-bg: #191919;
  --twoslash-border-color: #8884;
}
.dark .shiki {
  background-color: #0e0e0e;
}

html:not(.dark) .shiki {
  background-color: #fafafa;
}

html:not(.dark) .shiki,
html:not(.dark) .shiki span {
  color: var(--s-light, inherit);
  --twoslash-popup-bg: #fafafa;
}

/* Twoslash */
.twoslash ul {
  font-size: 1em !important;
}

.twoslash ul > li::before {
  display: none;
}

.twoslash ul > li {
  padding: 1px;
  margin: 0;
}

.twoslash-query-presisted .twoslash-popup-info {
  transform: translate(0, 1.6em);
}

/* Prose */
.prose pre:not(.shiki) {
  padding: 0;
  margin: 0;
  background: transparent;
}

.prose .shiki {
  font-family: 'DM Mono', 'Input Mono', 'Fira Code', monospace;
  font-size: 0.92em;
  line-height: 1.4;
  margin: 0.5em 0;
}

.prose p > img {
  width: 100%;
  --uno: shadow rounded-lg;
  transform: scale(1.05);
  margin: 2.6em 0;
}

.prose {
  --fg-light: #888;
  --fg: #555;
  --fg-deep: #222;
  --fg-deeper: #000;

  color: var(--fg);
}

.prose a:hover {
  border-bottom: 1px solid var(--fg);
}

html.dark .prose {
  --fg-light: #888;
  --fg: #bbb;
  --fg-deep: #ddd;
  --fg-deeper: #fff;
}

a.item {
  transition: 0.2s all ease-out;
  text-decoration: none;
  border-bottom: none !important;
  opacity: 0.6;
}

a.item:hover {
  opacity: 1;
}

a.header-anchor {
  float: left;
  margin-top: 0.125em;
  margin-left: -1.2em;
  padding-right: 0.5em;
  font-size: 0.85em;
  opacity: 0;
  text-decoration: none;
  border: 0 !important;
}

a.header-anchor:hover,
a.header-anchor:focus {
  text-decoration: none;
}

h1:hover .header-anchor,
h1:focus .header-anchor,
h2:hover .header-anchor,
h2:focus .header-anchor,
h3:hover .header-anchor,
h3:focus .header-anchor,
h4:hover .header-anchor,
h4:focus .header-anchor,
h5:hover .header-anchor,
h5:focus .header-anchor,
h6:hover .header-anchor,
h6:focus .header-anchor {
  opacity: 0.5;
}

.prose s {
  opacity: 0.5;
}

.prose em {
  --uno: font-serif;
  color: var(--fg-deep);
  font-size: 1.05em;
}

/* 移除 blockquote 引號與斜體（常見於 typography 預設） */
.prose blockquote p {
  font-style: normal !important;
}
.prose blockquote p:first-of-type::before,
.prose blockquote p:last-of-type::after {
  content: none !important;
}
